<section data-ng-controller="AdvertsController" data-ng-init="init()">
    <div class="page-header">
        <h1>New Advert</h1>
    </div>

    <div id="advert" class="row boxes jumbotron" data-ng-include="showAdverts.url" data-ng-show="showAdverts.visible"></div>

    <div class="col-md-5 jumbotron">
         <form id="form" class="form-horizontal" enctype="multipart/form-data" data-ng-submit="create()" novalidate>
           <fieldset> <legend>Localisation</legend>
            <div class="form-group">
                <label for="region" class="col-sm-4 control-label">Region</label>
                <div class="col-sm-8">
                    <select class="form-control" id="region" data-ng-model="region">
                        <option value="Alsace">Alsace</option>
                        <option value="Aquitaine">Aquitaine</option>
                        <option value="Auvergne">Auvergne</option>
                        <option value="Basse Normandie">Basse-Normandie</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
              <label for="codepostale" class="col-sm-4 control-label">Code postale</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="codepostale" data-ng-model="codepostale" placeholder="">
              </div>
            </div>
             </fieldset>

             <fieldset> <legend>Coordonnées  </legend>
                <div class="form-group">
                  <label for="nom" class="col-sm-4 control-label">Nom</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="nom" data-ng-model="nom" placeholder="nom">
                  </div>
                </div>
                  <div class="form-group">
                  <label for="nom" class="col-sm-4 control-label">Prénom</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="prenom" data-ng-model="prenom" placeholder="prenom">
                  </div>
                </div>
                <div class="form-group">
                  <label for="email" class="col-sm-4 control-label">Email</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" id="email" data-ng-model="email" placeholder="email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="tel" class="col-sm-4 control-label">Téléphone</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" id="tel" data-ng-model="tel" placeholder="">
                  </div>
                </div>
             </fieldset>


             <fieldset> <legend> Annonce</legend>
               <div class="form-group">
                  <label for="titre" class="col-sm-4 control-label">Titre</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="titre" data-ng-model="titre" placeholder="titre de  l'annonce">
                  </div>
                </div>

                <div class="form-group">
                    <label for="type" class="col-sm-4 control-label">Type de bien</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="type" data-ng-model="type">
                            <option value="appartement">Appartement</option>
                            <option value="maison">Maison</option>
                            <option value="terrain">Terrain</option>
                            <option value="immeuble">Immeuble-Ensemble</option>
                            <option value="mobile">Mobil-Home</option>
                            <option value="parking">Parking-Box</option>
                        </select>
                    </div>
                </div>

                 <div class="form-group">
                  <label for="description" class="col-sm-4 control-label">Description</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" rows="3" data-ng-model="description"></textarea>
                  </div>
                </div>

               <div class="form-group">
                  <label for="prix" class="col-sm-4 control-label">Prix</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" id="prix" placeholder="prix" data-ng-model="prix">
                  </div>
                </div>

               <div class="form-group">
                  <label for="dropbox" class="col-sm-4 control-label">Photos</label>
                  <div class="col-sm-8">
                    <!--<input type="file" id="files" name="files[]" data-ng-init="loadFiles()" multiple/>-->

                    <div id="dropbox" class="dragdrop" data-ng-init="loadFiles()">
                       Drag and drop  files here...
                    </div>
                    <output id="list" class=""></output>
                  </div>
                </div>
                
             </fieldset>

            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
              <button type="submit" class="btn btn-primary btn-lg" id="register">Valider</button>
              </div>
            </div>       
        </fieldset>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
     </form>
    </div>

      <div id="contenu" >
        <div id="imgContainer" data-ng-init="zoom()">
  
              <map name="positionMap" class="positionMapClass">
                <area id="topPositionMap" shape="rect" coords="20,0,40,20" title="move up" alt="move up"/>
                <area id="leftPositionMap" shape="rect" coords="0,20,20,40" title="move left" alt="move left"/>
                <area id="rightPositionMap" shape="rect" coords="40,20,60,40" title="move right" alt="move right"/>
                <area id="bottomPositionMap" shape="rect" coords="20,40,40,60" title="move bottom" alt="move bottom"/>
              </map>
              
              <td><img class="MapKey" src="/modules/adverts/img/aminities.png"/>  Amenities  </td>
              <td><img class="MapKey" src="/modules/adverts/img/buildings.png" />  Buildings  </td>
              <td><img class="MapKey" src="/modules/adverts/img/naturals.png" />  Naturals  </td>
              <td><img class="MapKey" src="/modules/adverts/img/roads.png" />  Roads  </td>  

        </div>
        <div id="positionButtonDiv">
          <p>Zoom : 
            <span>
              <img id="zoomInButton" class="zoomButton" src="/modules/adverts/img/zoomIn.png" title="zoom in" alt="zoom in" />
              <img id="zoomOutButton" class="zoomButton" src="/modules/adverts/img/zoomOut.png" title="zoom out" alt="zoom out" />
            </span>
          </p>
          <p>
            <span class="positionButtonSpan">
              <img src="/modules/adverts/img/position.png" usemap="#positionMap" />
            </span> 
          </p>
        </div>
      </div>
</section>