<section data-ng-controller="AdvertsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Advert</h1>
    </div>
    <div id="FormUpdate" class="col-md-6" data-ng-init="EditAdvertMapActions()" >
        <form class="form-horizontal" data-ng-submit="update()" novalidate >
        <span class="indice" data-ng-bind="advert.pid"></span>
              <fieldset>
                <legend></legend>
                   <fieldset> <legend>Localisation</legend>
                    <div class="form-group">
                        <label for="region" class="col-sm-3 control-label">Region</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="region" data-ng-model="advert.region">
                                <option value="Alsace">Alsace</option>
                                <option value="Aquitaine">Aquitaine</option>
                                <option value="Auvergne">Auvergne</option>
                                <option value="Basse Normandie">Basse-Normandie</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="postcode" class="col-sm-3 control-label">Postcode</label>
                      <div class="col-sm-8">
                        <input type="number" class="form-control" id="postcode" data-ng-model="advert.postcode" placeholder="">
                      </div>
                    </div>
                  </fieldset>

                     <fieldset> <legend>Contact</legend>
                        <div class="form-group">
                          <label for="lastname" class="col-sm-3 control-label">Last Name</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="lastname" data-ng-model="advert.lastname" placeholder="lastname">
                          </div>
                        </div>
                          <div class="form-group">
                          <label for="firstname" class="col-sm-3 control-label">First name</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="firstname" data-ng-model="advert.firstname" placeholder="firstname">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="email" class="col-sm-3 control-label">Email</label>
                          <div class="col-sm-8">
                            <input type="email" class="form-control" id="email" data-ng-model="advert.email" placeholder="email">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="phone" class="col-sm-3 control-label">Phone</label>
                          <div class="col-sm-8">
                            <input type="number" class="form-control" id="phone" data-ng-model="advert.phone" placeholder="">
                          </div>
                        </div>
                     </fieldset>


                     <fieldset> <legend> Votre annonce</legend>
                       <div class="form-group">
                          <label for="title" class="col-sm-3 control-label">Title</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="title" data-ng-model="advert.title" placeholder="title of the advert">
                          </div>
                        </div>

                        <div class="form-group">
                            <label for="type" class="col-sm-3 control-label">Property</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="type" data-ng-model="advert.type">
                                    <option value="apartement">Apartement</option>
                                    <option value="house">House</option>
                                    <option value="terrain">building</option>
                                    <option value="real estate">realestate</option>
                                    <option value="mobile">Mobil-Home</option>
                                    <option value="parking">Parking-Box</option>
                                </select>
                            </div>
                        </div>

                         <div class="form-group">
                          <label for="description" class="col-sm-3 control-label">Description de l'annonce</label>
                          <div class="col-sm-8">
                            <textarea class="form-control" rows="3" data-ng-model="advert.description"></textarea>
                          </div>
                        </div>

                       <div class="form-group">
                          <label for="area" class="col-sm-3 control-label">Area</label>
                          <div class="col-sm-8">
                            <input type="number" class="form-control" id="prix" placeholder="area" data-ng-model="advert.area">
                          </div>
                        </div>

                       <div class="form-group">
                          <label for="price" class="col-sm-3 control-label">Price</label>
                          <div class="col-sm-8">
                            <input type="number" class="form-control" id="price" placeholder="price" data-ng-model="advert.price">
                          </div>
                        </div>
                     </fieldset>

                    <div class="form-group">
                      <div class="col-sm-offset-3 col-sm-8">
                        <input type="submit" value="Update" class="btn btn-default">
                      </div>
                    </div>   
                    <div data-ng-show="error" class="text-danger">
                      <strong data-ng-bind="error"></strong>
                    </div>     
                </fieldset>
        </form>
    </div>
    <div id="contenu">
        <div id="imgContainer" data-ng-init="zoom()">
  
              <map name="positionMap" class="positionMapClass">
                <area id="topPositionMap" shape="rect" coords="20,0,40,20" title="move up" alt="move up"/>
                <area id="leftPositionMap" shape="rect" coords="0,20,20,40" title="move left" alt="move left"/>
                <area id="rightPositionMap" shape="rect" coords="40,20,60,40" title="move right" alt="move right"/>
                <area id="bottomPositionMap" shape="rect" coords="20,40,40,60" title="move bottom" alt="move bottom"/>
              </map>
              
              <td><img class="MapKey" src="/modules/adverts/img/aminities.png"/>  Amenities  </td>
              <td><img class="MapKey" src="/modules/adverts/img/buildings.png" />  Buildings  </td>
              <td><img class="MapKey" src="/modules/adverts/img/naturals.png" />  Naturals  </td>
              <td><img class="MapKey" src="/modules/adverts/img/roads.png" />  Roads  </td>  

        </div>
        <div id="positionButtonDiv">
          <p>Zoom : 
            <span>
              <img id="zoomInButton" class="zoomButton" src="/modules/adverts/img/zoomIn.png" title="zoom in" alt="zoom in" />
              <img id="zoomOutButton" class="zoomButton" src="/modules/adverts/img/zoomOut.png" title="zoom out" alt="zoom out" />
            </span>
          </p>
          <p>
            <span class="positionButtonSpan">
              <img src="/modules/adverts/img/position.png" usemap="#positionMap" />
            </span> 
          </p>
        </div>
      </div>
</section>