<section data-ng-controller="AdvertsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Adverts</h1>
    </div>

    <div class="row jumbotron col-sm-7" data-ng-repeat="advert in adverts">
        <a data-ng-href="#!/adverts/{{advert._id}}">
        <div class="col-sm-3 text-info">
            <img data-ng-src="modules/adverts/img/{{advert.photo}}" alt="Photo of {{advert.photo}}" class="img-thumbnail">
        </div>

        <div class="col-sm-8 text-info">
            <span data-ng-bind="advert.region"></span> <br/>
            <span data-ng-bind="advert.titre"></span> 
            <span data-ng-bind="advert.description"></span>
        </div>
        </a>
    </div>
    
<!--
    <div class="list-group">
        <a data-ng-repeat="advert in adverts" data-ng-href="#!/adverts/{{advert._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="advert.created | date:'medium'"></span>
				by
				<span data-ng-bind="advert.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="advert.name"></h4>
        </a>
    </div>
-->
    <div class="alert alert-warning text-center" data-ng-hide="!adverts.$resolved || adverts.length">
    	No Adverts yet, why don't you <a href="/#!/adverts/create">create one</a>?
    </div>
</section>