<section data-ng-controller="AdvertsController" data-ng-init="findOne()">
	<div class="page-header">
        <h1>Advert detail</h1>
    </div>

	<div class="row" >
	<div id="galerie" data-ng-init="gallery()" class="col-md-6 jumbotron">
	    <div id="support">
			<ul id="galerie_mini" >
				<li data-ng-repeat="item in advert.photo">
					<a href="modules/adverts/img/users/{{item.photo}}" title="Picture [{{$index + 1}}]">
					<img class="icons" style="width: 100px; height: 100px;"data-ng-src="modules/adverts/img/users/{{item.photo}}" alt="Photo of {{advert.title}}" >
					</a>
				</li>
			</ul>
		</div>
		
		<dl id="photo">
			<dt style="display:none;">Picture 0</dt>
			<br/>
			<dd><img id="big_pict" src="modules/adverts/img/users/{{advert.photo[0].photo}}" alt="Photo of {{advert.title}}" ></dd>
		</dl>
	</div>
	

		<div class="showadvert col-md-6">
		    <h4><span class="text-primary" data-ng-bind="advert.title"></span></h4>
			<div class="row">
				<div class="col-md-2 text-header">Title</div>
				<div class="col-md-3 text-info">
					<span data-ng-bind="advert.title"></span>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-2 text-header">Region</div>
				<div class="col-md-3 text-info">
					<span data-ng-bind="advert.region"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2 text-header">Area</div>
				<div class="col-md-3 text-info">
					<span data-ng-bind="advert.area"></span>m²
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-2 text-header">Price</div>
				<div class="col-md-3 text-info">
					<span data-ng-bind="advert.price"></span>€
				</div>
			</div>
			<br/>

		    <span class="text-primary"><h4>Contacts</h4></span>
			<div class="row">
				<div class="col-md-2 text-header">M</div>
				<div class="col-md-6 text-info">
					<span data-ng-bind="advert.firstname"></span>
					<span data-ng-bind="advert.lastname"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 text-header">Email</div>
				<div class="col-md-4 text-info">
					<span data-ng-bind="advert.email"></span>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-2 text-header">Phone</div>
				<div class="col-md-3 text-info">
					<span data-ng-bind="advert.phone"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8 text-info">
					<br/>
					<br/>
					<span data-ng-bind="advert.description"></span>
				</div>
			</div>
			<small>
				<em class="text-muted">
					Posted on
					<span data-ng-bind="advert.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="advert.user.displayName"></span>
				</em>
			</small>
			<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == advert.user._id))">
			<a class="btn btn-primary" href="/#!/adverts/{{advert._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		</div>
	</div>	
</section>
