.AdvertBlink{
    fill:yellow;
}

.indice {

    display: none;
}

.hideAdvert{
  fill:grey;
  stroke:black;
}


#AlerMapGif{
  padding: 3px;
}

.buildings {
    stroke: rgba(70, 70, 90, 1);
    fill: rgba(137, 156, 189, 1);
}

.buildings.over {
    stroke: rgba(70, 70, 90, 1);
    fill: black;
}

.roads {
    stroke: rgba(143, 136, 136, 1);
    fill: none;
}

.amenities {
    stroke: rgba(228, 14, 14, 1);
    fill: rgba(228, 102, 93, 1);
}

.naturals {
    stroke: rgba(0, 255, 66, 1);
    fill: rgba(208, 245, 208, 1);
}

#contenu {
    position: fixed;
    margin-left:480px;
}



.dragdrop{
    margin: 5px 0;
    height: 100px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    border:1px dotted grey;
}

.showadvert{
    position: relative;
    width: 500px; 
    height: 210px;
    max-height: 300px; 
}

.photo{   
    position: relative;
    left:650px;
    top: 130px;
    width: 500px; 
    height: 210px;
}

.image{   
    width: 100px; 
    height: 100px;
}

.MapKey{

    margin-left: 65px;
}

#ptr{
    position: fixed;
    left:110px;
    top: 110px;
    z-index: 1;
}


/**
 *  plugin css
 
**/

#imgContainer{
    width: 700px;
    height: 500px;
    margin-left: 30px;
}

#positionButtonDiv{
    background: rgb(58, 56, 63);
    background: rgba(58, 56, 63, 0.8);  
    border: solid 1px #100000;
    color:#FFFFFF;
    padding: 8px;
    text-align: left;
    position:absolute;
    left: 65px;
    top: 250px;
}

#positionButtonDiv .positionButtonSpan img{
    float: right;
    border:0;
}

.positionMapClass area{
    cursor: pointer;
    margin-left:40px;
}

.zoomButton{
    border:0;
    cursor: pointer;
}



#advert {
    padding-top: 20px;
    position: fixed;
    width: 320px;
    height: 150px;
    background: none repeat scroll 0 0 rgba(238,238,238,0.6);
    border-radius: 5px;
    text-align: left;
    color: #369;
    z-index: 1;
    
}

.titre-annonce{
    font-weight: bold;
    font-size: 18px;
}
.prix-annonce{
    font-weight: bold;
    font-size: 16px;
    color: black;

}







#galerie
{
  width: 530px ;
  padding: 15px ;
  margin: 15px 30px ;
}

#support
{
  height: 130px;
  margin: 0 ;
  padding: 0 ;
  list-style:none;
  text-align: center ;
  overflow-x: scroll;

}

#galerie_mini
{
  height: 110px;
  margin: 0 ;
  padding: 0 ;
  list-style:none;

}


#galerie_mini li
{ 
  float: left ;
}

#galerie_mini li a img
{
  margin: 4px 4px ;
  border: 1px solid #dcb ;
  
}

#photo
{
  clear: both ;
  margin: 0 auto ;
}

#photo dt
{
  font: italic 2.5em/1.5em Georgia, serif ;
  color: #dcb ;
}

#photo dd
{
  margin: 0 ;
}

#photo img
{
  border: 1px solid #dcb ;
}

#big_pict {
width: 500px ;
height: 400px;
}